
.presentation {
    text-align: justify;
	padding-top:20px;
	padding-bottom:20px;
}

.presentation h1 {
    text-align: center;
    padding-bottom: 15px;
}

.section {
    padding-bottom: 10px;
}

/* Ou changer couler quand hover */
.paper {
    background-color: #E7E9EC;
    padding:10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.paper:hover {
    background-color: #BFCCDA;
}

.ref {
    margin-bottom: 2px;
}

.txt_abstract {
    text-align:justify;
    border-radius: 5px;
    margin-top: 5px;
}

.txt_bibtex {
    border-radius: 5px;
}

/*.copy {
    text-align: right;
}*/

.link a {
    color:inherit;
}
